.logo-container {
  text-align: center;
  margin-top: 20px;
}

.logo {
  width: 300px;
  height: auto;
  display: inline-block;
  margin-bottom: 20px;
  max-width: 100%; /* biar responsive */
}


@media print {
  body {
    width: 210mm;
    font-size: 14px;
    margin: 0 auto;
    padding: 20mm;
    font-family: 'Roboto', sans-serif;
  }

  .no-print {
    display: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }

  th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
  }

  h1, h2 {
    margin-top: 0;
  }
}

@media print {
  .logo-container {
    text-align: center;
    margin-top: 10mm;
  }

  .logo {
    width: 80mm;      /* Approx 300px */
    height: auto;
    display: block;
    margin: 0 auto 10mm;
  }
}


