@media print {
  body {
    width: 50mm;
    margin: 0;
    padding: 5mm;
    font-size: 12px;
    font-family: monospace;
  }

  .no-print {
    display: none;
  }

@media print {
  .receipt-logo {
    width: 30mm;
    display: block;
    text-align: center;
    margin-bottom: 10mm;
  }

  .receipt-logo img {
    width: 30mm;        /* ~300px */
    height: auto;
    display: inline-block;
  }
}
  
  .invoice pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
