/* Hide by default */
.invoice-logo {
  display: none;
}

/* Show and format only in print */
@media print {
  .invoice-logo {
    display: block;
    text-align: center;
    margin-bottom: 20mm;
  }

  .invoice-logo img {
    width: 80mm;        /* ~300px */
    height: auto;
    display: inline-block;
  }
}


/* Print view */
@media print {
  body {
    width: 210mm;
    font-size: 14px;
    margin: 0 auto;
    padding: 20mm;
    font-family: 'Roboto', sans-serif;
  }

  .no-print {
    display: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }

  th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
  }

  h1, h2 {
    margin-top: 0;
  }
}
