<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Receipt</title>
  <link rel="stylesheet" href="/static/print-invoice.css">
</head>
<body>
  <div class="receipt">
    <div class="receipt-logo">
      <img src="/static/images/hb-logo-micro.png" alt="Logo" class="logo">
    </div>

    <div class="receipt-title">
      HIPPAM BARU
    </div>

    <div class="receipt-content">
<pre>
Resi Pembayaran
No: {{ bill['receipt_no'] }}

ID Pelanggan: {{ bill['user_id'] }}
Nama: {{ bill['user_name'] }}
Alamat: RT. {{ bill['user_address'] }}

Periode: {{ bill['pay_period'] }}
Nomor SR: {{ "{:,.0f}".format(bill.device_id|float) }}

Meter Lalu: {{ bill['meter_past'] }}
Meter Kini: {{ bill['meter_now'] }}
Pakai m³: {{ bill['usage'] }}

0–10 m³[1,000]: {{ "{:,.0f}".format(bill['lv1_cost']) }}
11–20 m³[1,000]: {{ "{:,.0f}".format(bill['lv2_cost']) }}
21–30 m³[2,500]: {{ "{:,.0f}".format(bill['lv3_cost']) }}
31+ m³[4,000]: {{ "{:,.0f}".format(bill['lv4_cost']) }}
Beban Dasar: {{ "{:,.0f}".format(bill['basic_cost']) }}

<div class = "total-bill">
Total Bayar: {{ "{:,.0f}".format(bill['bill_amount']) }}
</div>

Waktu Bayar:
{{ bill['payment_timestamp'] }}
</pre>
    </div>

    <hr>
  </div>
    <div class="no-print">
        <button onclick="window.print()">Cetak Resi</button>
    </div>    
</body>
</html>

