<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Receipt</title>
  <style>
    .logo-container {
      text-align: center;
      margin-top: 10px;
    }
  
    .logo-container img {
      width: 100px;
      height: auto;
    }
  
    @media print {
      body {
        margin: 0;
        font-family: monospace;
        font-size: 10pt;
        width: 58mm;
      }
  
      .no-print {
        display: none;
      }
  
      .logo-container img {
        width: 100px;
      }
    }
  </style>

</head>
<body>
<div class="logo-container">
  <img src="/static/images/hb-logo-rc.png" alt="Logo" />
</div>  
<pre>
         <b>HIPPAM BARU</b>
     ----------------------

 Resi Pembayaran
 No: {{ bill['receipt_no'] }}

 ID         : {{ bill['user_id'] }}
 Nama       : {{ bill['user_name'] }}
 Alamat     : RT. {{ bill['user_address'] }}

 Periode    : {{ bill['pay_period'] }}
 Nomor SR   : {{ "{:,.0f}".format(bill.device_id|float) }}

 Meter Lalu : {{ bill['meter_past'] }}
 Meter Kini : {{ bill['meter_now'] }}
 Pakai m³   : {{ bill['usage'] }}

 0–10 [1,000]  : {{ "{:,.0f}".format(bill['lv1_cost']) }}
11–20 [1,000]  : {{ "{:,.0f}".format(bill['lv2_cost']) }}
21–30 [2,500]  : {{ "{:,.0f}".format(bill['lv3_cost']) }}
31+   [4,000]  : {{ "{:,.0f}".format(bill['lv4_cost']) }}
Beban Dasar    : {{ "{:,.0f}".format(bill['basic_cost']) }}

------------------------------
<b>TOTAL BAYAR    : {{ "{:,.0f}".format(bill['bill_amount']) }}</b>
------------------------------

Waktu Bayar:
{{ bill['payment_timestamp'] }}

        Terima Kasih
</pre>

<div class="no-print">
  <button onclick="window.print()">Cetak Resi</button>
</div>
</body>
</html>
