<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check My Bills</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="form-container">
    <h1>Check Your Pending Bills</h1>
    <form action="/user" method="get">
        <label for="user_id">Enter Your User ID:</label>
        <input type="text" name="user_id" required>
        <button type="submit">Check</button>
    </form>
    </div>
        
    {% if user_data %}
        <h2>Pending Bills for {{ user_data[0].user_name }}</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Pay Period</th>
                    <th>Device ID</th>
                    <th>Address</th>
                    <th>Meter Past</th>
                    <th>Meter Now</th>
                    <th>Usage</th>
                    <th>Level 1</th>
                    <th>Level 2</th>
                    <th>Level 3</th>
                    <th>Level 4</th>
                    <th>Basic Cost</th>
                    <th>Bill Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in user_data %}
                <tr>
                    <td>{{ bill.pay_period }}</td>
                    <td>{{ bill.device_id }}</td>
                    <td>{{ bill.user_address }}</td>
                    <td>{{ bill.meter_past }}</td>
                    <td>{{ bill.meter_now }}</td>
                    <td>{{ bill.usage }}</td>
                    <td>{{ bill.lv1_cost }}</td>
                    <td>{{ bill.lv2_cost }}</td>
                    <td>{{ bill.lv3_cost }}</td>
                    <td>{{ bill.lv4_cost }}</td>
                    <td>{{ bill.basic_cost }}</td>
                    <td>{{ bill.bill_amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Total Due: {{ user_data | map(attribute='bill_amount') | sum }}</h3>
    {% elif user_id %}
        <p>No unpaid bills found for user ID {{ user_id }}.</p>
    {% endif %}
</body>
</html>
